<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decrypt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8 text-center">
                <img src="{{url_for('static', filename='img/logoencydecy.png')}}" alt="">
                <h2>Welcome to Ency Decy</h2>
                <a href="/encrypt" style="padding: 8px; background-color: grey; color: white; border-radius: 5px;">Ency</a>
                &nbsp;&nbsp;
                <a href="/decrypt" style="padding: 8px; background-color: grey; color: white; border-radius: 5px;">Decy</a>
                <p><b>How to Use:</b></p>
                <p>1. input your password to <b>Open</b> your message</p>
                <p>2. input your ChiperText you want to decrypt</p>
                <hr/>
                <form action="apiencydecy" method="POST">
                    <input type="hidden" name="apa" value="decy">
                    <label for="">Masukkan Password:</label><br/>
                    <input type="text" name="password"><br/>
                    <label for="">Masukkan Chiper Text:</label><br/>
                    <textarea name="message" id="" cols="30" rows="5"></textarea><br/>
                    <input type="submit">
                </form>
                Created by Mr.GG &copy; 2020
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
</body>
</html>